.phone-price {
    box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    background-color: white;

    padding: 20px;

    width: 420px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.phone-price__old {
    display: flex;
    align-items: center;
}

.phone-price__old-price {
    text-decoration: line-through;

    font-weight: 500;
    color: #888888;
}

.phone-price__discount {
    padding: 4px 10px;
    border-radius: 50px;

    background-color: orange;

    margin-left: 18px;
}

.phone-price__new {
    margin-top: 18px;
    margin-bottom: 18px;
}

.phone-price__new-price {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
}

.phone-price__delivery-info {
    line-height: 30px;
}

.phone-price__delivery-info>span {
    font-weight: 700;
}

.phone-price__add-cart {
    background: #f36223;

    border-radius: 4px;

    color: white;

    font-size: 20px;
    line-height: 24px;

    width: 100%;

    padding: 20px 0;
    margin-top: 35px;
}

.phone-price__add-cart:hover {
    background: #da4a0c;
}