.banner-frame {
    display: flex;
    flex-direction: column;

    margin-top: 40px;
}

.banner-frame__title {
    color: #888888;
}

.banner-frame__iframe {
    width: 100%;
    height: 300px;

    border: 2px dashed black;

    margin-top: 7px;

    background: #f0f0f0;
}