.feedback {
    font-size: 14px;
}

.feedback__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 24px;
}

.feedback__title {
    margin-right: 10px;
}

.feedback__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-count {
    color: #888888;
}

.feedback__add-new {
    font-size: 16px;

    border: 1px solid #888888;
    border-radius: 4px;

    background-color: transparent;

    padding: 10px 20px;
}

.feedback__avatar>img {
    border-radius: 50%;

    width: 200px;
    height: 200px;

    margin-right: 30px;
}

.feedback__item {
    display: flex;
}

.feedback__person-name {
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 10px;
}

.feedback__raiting {
    margin-bottom: 20px;
}

.feedback__text-title {
    font-weight: 700;

    margin-top: 20px;
}

.feedback__text-title>span {
    font-weight: normal;
}

.feedback__line {
    margin: 40px 0;
}