html {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f8f8f8;
}

.body {
    font-size: 18px;

    font-family: sans-serif;
}

a {
    color: #018ad2;
}

a:hover {
    color: #c00;
}

button {
    padding: 8px 12px;
}

ul {
    position: relative;
}

li {
    position: relative;
    left: -25px;
}

.container {
    width: 1400px;
}