.header__wrapper {
    margin-top: 19px;
    margin-bottom: 8px;
}

.header__favicon {
    display: inline-block;

    width: 31px;
    height: 31px;
}

.header__title-wrapper {
    margin-bottom: 27px;
}

.header__title {
    display: inline-block;

    margin: 0;

    font-size: 44px;
    line-height: 53px;
}

.header__title>span {
    color: #f36773;
}

.header__nav {
    font-size: 16px;
    line-height: 19px;
}