.banner-frame {
    font-weight: 500;
    color: #8888;
}

.banner-frame__iframe {
    width: 420px;
    height: 300px;
    margin-bottom: 15px;
    border: 1px dashed;

    color: #8888;
}

.banner-frame__title {
    font-size: 14px;
    line-height: 17px;

    margin: 0 0 10px;
}