body {
    width: 1500px;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #018ad2;
}

a:hover {
    color: #c00;
}

button {
    padding: 8px 12px;
}

p {
    margin: 16px;
}

ul {
    position: relative;
}

li {
    position: relative;
    left: -25px;
}