.main-title {
    display: inline-block;
}

.market-button {
    margin-top: 10px;
}

.product-colors {
    margin-top: 10px;
}

.product-colors__images {
    margin-top: 10px;
}

.config {
    margin-top: 10px;
}

.config__buttons {
    margin-top: 10px;
}

.iframe {
    display: inline-block;

    border: 1px dashed black;

    background-color: #ccc;
}

.description {
    margin-top: 20px;
}

.section-title {
    display: inline-block;
}

.feedback-count {
    color: #aaaaaa;
}

.feedback {
    display: flex;
}